{% include "_header.html"%}


<section class="engine"><a rel="external" href="#">bootstrap site building</a></section><section class="mbr-section mbr-parallax-background mbr-after-navbar" id="form1-3f" style="background-image: url(assets/images/bn-2000x1125-16.jpg); padding-top: 160px; padding-bottom: 120px;">
    
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">CONTACT FORM</h3>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">


                    <div data-form-alert="true">
                        <div hidden="" data-form-alert-success="true" class="alert alert-form alert-success text-xs-center">Thanks for filling out form!</div>
                    </div>


                    <form action="#" method="post" data-form-title="CONTACT FORM">

                        <input type="hidden" value="ojXbyk7S/L9Kjs7/lhUaBh65ltk5yQOOEeQpRyRn6EX6U5INtAPLjopJPqc99F+tozWkD1Hs8G/iO0ZZRrfxLxRA1Ij2dkV0xRC1d3koXSULH7PfyWbADd9f3zHrSqNf" data-form-email="true">

                        <div class="row row-sm-offset">

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-name">Name<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="name" required="" data-form-field="Name" id="form1-3f-name">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-email">Email<span class="form-asterisk">*</span></label>
                                    <input type="email" class="form-control" name="email" required="" data-form-field="Email" id="form1-3f-email">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-phone">Phone</label>
                                    <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="form1-3f-phone">
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="form1-3f-message">Message</label>
                            <textarea class="form-control" name="message" rows="7" data-form-field="Message" id="form1-3f-message"></textarea>
                        </div>

                        <div><button type="submit" class="btn btn-primary">CONTACT US</button></div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="form2-6c" style="background-color: rgb(46, 46, 46); padding-top: 40px; padding-bottom: 80px;">
        <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">SUBSCRIBE FORM</h3>
                    <small class="mbr-section-subtitle">Subscribe to our Newsletter</small>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">
                    <div data-form-alert="true"><div hidden="" data-form-alert-success="true">Thanks for filling out form!</div></div>
                    <form class="mbr-form" action="#" method="post" data-form-title="SUBSCRIBE FORM">
                        <input type="hidden" value="BCYW66UeU6plfk4F6kWZ+XKRX76PiLK3hMtyRzJMxPPg19Ntnjwz0D8ByKV/cTeYemswYrDdsz8hd5N0XgWOrOo5moHOTVPfcAdmSYSAOn56AZ/ZTjmInpVJGzt/LE7u" data-form-email="true">
                        <div class="mbr-subscribe mbr-subscribe-dark input-group">
                            <input type="email" class="form-control" name="email" required="" data-form-field="Email" placeholder="Enter Your Email Address..." id="form2-6c-email">
                            <span class="input-group-btn"><button type="submit" class="btn btn-primary">SUBSCRIBE</button></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>




{% include "_footer.html"%}

