{% include "_header.html"%}



<section class="engine"><a rel="external" href="#">best html site building software download</a></section><section class="mbr-section article mbr-section__container mbr-after-navbar" id="content1-5o" style="background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 60px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead"><p>Welcome to the (GSF) Good Samaritan Foundation, Haiti Mission School, Food Distribution, Feeding, and Orphanage site!  Be blessed as you take time to see what God is doing in the lives of the people of Haiti.</p></div>
        </div>
    </div>

</section>

<section class="mbr-section mbr-section__container article" id="header3-66" style="background-color: rgb(255, 255, 255); padding-top: 80px; padding-bottom: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="mbr-section-title display-2"><br>Hurricane Mathhew</h3>
                <small class="mbr-section-subtitle">By anon</small>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article mbr-section__container" id="content1-64" style="background-color: rgb(193, 193, 193); padding-top: 20px; padding-bottom: 40px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead">The brunt of Hurricane Matthew's dangerous wind and rain is expected to strike several Caribbean countries tonight and Tuesday, as the Category 4 hurricane heads toward Haiti, Cuba and Jamaica.<div>The hurricane, with maximum sustained winds of 140 mph, is expected to bring "life-threatening flash floods and mudslides," according to the National Hurricane Center.</div><div>​</div><div>Up to 25 inches of rain are forecast over the next two days across southern Haiti and parts of the southwest Dominican Republic. As many as 12 inches of rainfall are expected in Cuba and parts of western Haiti, and up to 10 inches are forecast in eastern Jamaica, according to the National Hurricane Center.</div></div>
        </div>
    </div>

</section>

<section class="mbr-section mbr-section__container article" id="header3-67" style="background-color: rgb(255, 255, 255); padding-top: 100px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="mbr-section-title display-2">Where is Hurricane Matthew?</h3>
                <small class="mbr-section-subtitle">By anon<br></small>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article mbr-section__container" id="content6-68" style="background-color: rgb(193, 193, 193); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 lead"><p><br></p><p><br></p><p>Hurricane Matthew was located about 205 miles southeast of Kingston, Jamaica, and about 275 miles southwest of Port au Prince, Haiti, as of this morning, and the slow-moving storm is inching northward at about 6 mph.</p><p><br></p><p>Hurricane Matthew was located about 205 miles southeast of Kingston, Jamaica, and about 275 miles southwest of Port au Prince, Haiti, as of this morning, and the slow-moving storm is inching northward at about 6 mph.</p><p><br></p></div>
            <div class="col-xs-12 col-md-6 lead"><p><br></p><p><br></p><p>Hurricane Matthew was located about 205 miles southeast of Kingston, Jamaica, and about 275 miles southwest of Port au Prince, Haiti, as of this morning, and the slow-moving storm is inching northward at about 6 mph.</p><p><br></p><p>Hurricane Matthew was located about 205 miles southeast of Kingston, Jamaica, and about 275 miles southwest of Port au Prince, Haiti, as of this morning, and the slow-moving storm is inching northward at about 6 mph.</p><p><br></p><p><br></p></div>
        </div>
    </div>

</section>

<section class="mbr-section mbr-section__container" id="buttons1-69" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 0px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-xs-center"><a class="btn btn-primary" href="#">Read More</a> </div>
            </div>
        </div>
    </div>

</section>

<section class="mbr-section article mbr-section__container" id="content6-65" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 lead"></div>
            <div class="col-xs-12 col-md-6 lead"></div>
        </div>
    </div>

</section>

<section class="mbr-section" id="form2-60" style="background-color: rgb(124, 112, 107); padding-top: 40px; padding-bottom: 80px;">
        <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">SUBSCRIBE FORM</h3>
                    <small class="mbr-section-subtitle">Subscribe to our Newsletter</small>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">
                    <div data-form-alert="true"><div hidden="" data-form-alert-success="true">Thanks for filling out form!</div></div>
                    <form class="mbr-form" action="#" method="post" data-form-title="SUBSCRIBE FORM">
                        <input type="hidden" value="p7wJX9t1GWZw8oq//s/CKrLNt290FAbbwMCMrrIisu7SEPZEIcyFpBLOp4/blWcZ2wVxcxGqgKcO89jbHBrRWJllQ2V3728V6TJbfM7lkmaUerdQlXGF79spL0sNzOyQ" data-form-email="true">
                        <div class="mbr-subscribe mbr-subscribe-dark input-group">
                            <input type="email" class="form-control" name="email" required="" data-form-field="Email" placeholder="Enter Your Email Address..." id="form2-60-email">
                            <span class="input-group-btn"><button type="submit" class="btn btn-success">SUBSCRIBE</button></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



{% include "_footer.html"%}

