{% include "_header.html"%}


<section class="engine"><a rel="external" href="#">top web page development software</a></section><section class="mbr-section mbr-section-hero mbr-section-full mbr-after-navbar" id="header1-6j" style="background-image: url(../assets/images/family-picture-2000x1155-68.jpg);">

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(71, 85, 119);"></div>

    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10">

                    <h1 class="mbr-section-title display-1">ORPHANAGE</h1>
                    <p class="mbr-section-lead lead">Choosing a child is the most difficult part of the program, as every child deserves to have their very own sponsor praying for them and writing them letters. Often, sponsors choose their children based on birthdays or the family history. However you decide, choose a child you will commit to pray for and walk alongside as they pursue their education.<br></p>
                    
                </div>
            </div>
        </div>
    </div>

    

</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-6h" style="background-color: rgb(255, 255, 255);">

    

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
              <div class="card cart-block">
                  <div class="card-img"><img src="../assets/images/abel-nicolas-600x549-83.jpg" class="card-img-top"></div>
                  <div class="card-block">
                    
                    
                    <p class="card-text">NAME<br>ID<br>AGE</p>
                    <div class="card-btn"><a href="#" class="btn btn-primary">SPONSER</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="../assets/images/alex-600x565-87.jpg" class="card-img-top"></div>
                    <div class="card-block">
                        
                        
                        <p class="card-text">NAME<br>ID<br>AGE</p>
                        <div class="card-btn"><a href="#" class="btn btn-primary">SPONSER</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="../assets/images/corine-1-600x582-45.jpg" class="card-img-top"></div>
                    <div class="card-block">
                        
                        
                        <p class="card-text">NAME&nbsp;<br>ID&nbsp;<br>AGE</p>
                        <div class="card-btn"><a href="#" class="btn btn-primary">SPONSER</a></div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-6k" style="background-color: rgb(255, 255, 255);">

    

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
              <div class="card cart-block">
                  <div class="card-img"><img src="../assets/images/dieunel-exime-600x570-47.jpg" class="card-img-top"></div>
                  <div class="card-block">
                    
                    
                    <p class="card-text">NAME<br>ID<br>AGE</p>
                    <div class="card-btn"><a href="#" class="btn btn-primary">SPONSER</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="../assets/images/nicolson-600x614-72.jpg" class="card-img-top"></div>
                    <div class="card-block">
                        
                        
                        <p class="card-text">NAME<br>ID<br>AGE</p>
                        <div class="card-btn"><a href="#" class="btn btn-primary">SPONSER</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="../assets/images/pierre-louis-elianise-600x590-55.jpg" class="card-img-top"></div>
                    <div class="card-block">
                        
                        
                        <p class="card-text">NAME<br>ID<br>AGE</p>
                        <div class="card-btn"><a href="#" class="btn btn-primary">SPONSER</a></div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
</section>



{% include "_footer.html"%}

