{% include "_header.html"%}


<section class="engine"><a rel="external" href="#">bootstrap site building</a></section><section class="mbr-section mbr-parallax-background mbr-after-navbar" style="background-image: url(assets/images/bn-2000x1125-16.jpg); padding-top: 160px; padding-bottom: 120px;">

    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2"><p>Sponsor Now</p></h3>

                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding" style="background-color: rgb(239, 239, 239); padding-top: 40px; padding-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">


                    <div data-form-alert="true">
                        <div hidden="" data-form-alert-success="true" class="alert alert-form alert-success text-xs-center">Thanks for filling out form!</div>
                    </div>


                    <form action="#" method="post" data-form-title="Sponsor Now">

                        <input type="hidden" value="ojXbyk7S/L9Kjs7/lhUaBh65ltk5yQOOEeQpRyRn6EX6U5INtAPLjopJPqc99F+tozWkD1Hs8G/iO0ZZRrfxLxRA1Ij2dkV0xRC1d3koXSULH7PfyWbADd9f3zHrSqNf" data-form-email="true">

                        <div class="row row-sm-offset">

                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-name">First Name<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="first_name" required="" data-form-field="First Name" id="form1-3f-first-name">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-name">Last Name<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="last_name" required="" data-form-field="Last Name" id="form1-3f-name">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-address">Address<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="address" required="" data-form-field="Address" id="form1-3f-address">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-address">Address Line 2<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="address2" required="" data-form-field="Address2" id="form1-3f-address">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-city">City<span class="form-asterisk">*</span></label>
                                    <input type="city" class="form-control" name="city" required="" data-form-field="City" id="form1-3f-city">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-state">State<span class="form-asterisk">*</span></label>
                                    <input type="state" class="form-control" name="state" required="" data-form-field="State" id="form1-3f-state">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-zipcode">Zip Code<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="zip_code" required="" data-form-field="Zip Code" id="form1-3f-zipcode">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-zcountry">Country<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="country" required="" data-form-field="Country" id="form1-3f-country">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-email">Email<span class="form-asterisk">*</span></label>
                                    <input type="email" class="form-control" name="email" required="" data-form-field="Email" id="form1-3f-email">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-phone">Phone</label>
                                    <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="form1-3f-phone">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-phone">Child<span class="form-asterisk">*</span></label>
                                    <input type="radio" class="form-control" name="boy" data-form-field="Boy" id="form1-3f-boy"><label class="form-control-label">Boy</label>
                                    <input type="radio" class="form-control" name="boy" data-form-field="Girl" id="form1-3f-girl">                             <label class="form-control-label">Girl</label>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-dropdown">Choose your child's name (girl):</label>
                                    <select>
                                      <option>None</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-dropdown">Choose your child's name (boy):</label>
                                    <select>
                                      <option>None</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-phone">Set up a payment as follows<span class="form-asterisk">*</span></label>
                                    <input type="radio" class="form-control" name="monthly" data-form-field="Monthly" id="form1-3f-radio"><label class="form-control-label">Monthly ( $30 )</label>
                                    <input type="radio" class="form-control" name="quarterly" data-form-field="Quarterly" id="form1-3f-radio">                             <label class="form-control-label">Quarterly ( $90 )</label>
                                    <input type="radio" class="form-control" name="annually" data-form-field="Annually" id="form1-3f-radio">                             <label class="form-control-label">Annually ( $360 )</label>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3f-phone">How would you like to receive updates from your child?<span class="form-asterisk">*</span></label>
                                    <input type="radio" class="form-control" name="quarterly" data-form-field="Quarterly" id="form1-3f-radio">                             <label class="form-control-label">Quarterly</label>
                                    <input type="radio" class="form-control" name="annually" data-form-field="Annually" id="form1-3f-radio">                             <label class="form-control-label">Annually</label>
                                </div>
                            </div>
                        </div>

                        <div><button type="submit" class="btn btn-primary">Sponsor Now</button></div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="form2-6c" style="background-color: rgb(46, 46, 46); padding-top: 40px; padding-bottom: 80px;">
        <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">SUBSCRIBE FORM</h3>
                    <small class="mbr-section-subtitle">Subscribe to our Newsletter</small>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">
                    <div data-form-alert="true"><div hidden="" data-form-alert-success="true">Thanks for filling out form!</div></div>
                    <form class="mbr-form" action="#" method="post" data-form-title="SUBSCRIBE FORM">
                        <input type="hidden" value="BCYW66UeU6plfk4F6kWZ+XKRX76PiLK3hMtyRzJMxPPg19Ntnjwz0D8ByKV/cTeYemswYrDdsz8hd5N0XgWOrOo5moHOTVPfcAdmSYSAOn56AZ/ZTjmInpVJGzt/LE7u" data-form-email="true">
                        <div class="mbr-subscribe mbr-subscribe-dark input-group">
                            <input type="email" class="form-control" name="email" required="" data-form-field="Email" placeholder="Enter Your Email Address..." id="form2-6c-email">
                            <span class="input-group-btn"><button type="submit" class="btn btn-primary">SUBSCRIBE</button></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>




{% include "_footer.html"%}
