@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);


body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oswald', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
#ext_menu-3 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3 .navbar-caption {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3 .close-icon::before,
#ext_menu-3 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3 .link,
#ext_menu-3 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-3 .link {
  font-size: 1rem;
}
#ext_menu-3 .dropdown-item,
#ext_menu-3 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-3 .link:hover,
#ext_menu-3 .dropdown-item:hover,
#ext_menu-3 .link:focus,
#ext_menu-3 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-3 .link[aria-expanded="true"],
#ext_menu-3 .dropdown-menu {
  background: #307193;
}
#ext_menu-3 .nav-dropdown-sm .link:focus,
#ext_menu-3 .nav-dropdown-sm .link:hover,
#ext_menu-3 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3 .nav-dropdown-sm .dropdown-item:hover {
  background: #3985ad!important;
}
#ext_menu-3 .navbar,
#ext_menu-3 .nav-dropdown-sm,
#ext_menu-3 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3 .nav-dropdown-sm .dropdown-menu {
  background: #3d8eb9;
}
#ext_menu-3 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3 .bg-color.transparent.opened .link:hover,
#ext_menu-3 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-3 .link[aria-expanded="true"],
#ext_menu-3 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#content1-s DIV {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#content1-s P {
  font-family: 'Oxygen', sans-serif;
}
#features3-6 P {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: #ffffff;
}
#features3-6 .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
#header3-r .mbr-section-title,
#header3-r .mbr-section-subtitle {
  text-align: center;
}
#content1-q P {
  font-family: 'Open Sans', sans-serif;
}
#content1-15 DIV {
  font-family: 'Open Sans', sans-serif;
}
#content1-15 H3 {
  text-align: center;
}
#content1-15 UL {
  text-align: right;
}
#content1-15 P {
  text-align: center;
}
#header3-x .mbr-section-title,
#header3-x .mbr-section-subtitle {
  text-align: center;
}
#header3-x H3 {
  text-align: right;
  font-size: 48px;
}
#content1-y DIV {
  font-family: 'Roboto', sans-serif;
}
#header3-11 .mbr-section-title,
#header3-11 .mbr-section-subtitle {
  text-align: center;
}
#content1-12 DIV {
  font-family: 'Roboto', sans-serif;
}
#header3-13 .mbr-section-title,
#header3-13 .mbr-section-subtitle {
  text-align: center;
}
#content1-14 P {
  font-family: 'Roboto', sans-serif;
}
#form2-c .mbr-section-title {
  color: #fff;
}
#form2-c .mbr-section-subtitle {
  color: #a0a0a0;
}
#social-buttons2-6b .mbr-section-title,
#social-buttons2-6b .btn-social {
  color: #232323;
}
#social-buttons2-6b .mbr-section-title {
  color: #ffffff;
}
#contacts1-d P {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #ffffff;
}
#footer1-62 P {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  text-align: right;
}





#ext_menu-2w .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2w .navbar-caption {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-2w .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2w .close-icon::before,
#ext_menu-2w .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2w .link,
#ext_menu-2w .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-2w .link {
  font-size: 1rem;
}
#ext_menu-2w .dropdown-item,
#ext_menu-2w .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-2w .link:hover,
#ext_menu-2w .dropdown-item:hover,
#ext_menu-2w .link:focus,
#ext_menu-2w .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-2w .link[aria-expanded="true"],
#ext_menu-2w .dropdown-menu {
  background: #307193;
}
#ext_menu-2w .nav-dropdown-sm .link:focus,
#ext_menu-2w .nav-dropdown-sm .link:hover,
#ext_menu-2w .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2w .nav-dropdown-sm .dropdown-item:hover {
  background: #3985ad!important;
}
#ext_menu-2w .navbar,
#ext_menu-2w .nav-dropdown-sm,
#ext_menu-2w .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2w .nav-dropdown-sm .dropdown-menu {
  background: #3d8eb9;
}
#ext_menu-2w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2w .bg-color.transparent.opened .link:hover,
#ext_menu-2w .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-2w .link[aria-expanded="true"],
#ext_menu-2w .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-36 .mbr-section-title,
#header3-36 .mbr-section-subtitle {
  text-align: center;
}
#content1-37 DIV {
  font-family: 'Roboto', sans-serif;
}
#testimonials2-30 .mbr-section-title {
  color: #ffffff;
}
#testimonials2-30 .card-footer > div {
  color: #faaf40;
}
#contacts1-d P {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #ffffff;
}
#footer1-2y P {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  text-align: right;
}




#ext_menu-2w .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2w .navbar-caption {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-2w .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2w .close-icon::before,
#ext_menu-2w .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2w .link,
#ext_menu-2w .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-2w .link {
  font-size: 1rem;
}
#ext_menu-2w .dropdown-item,
#ext_menu-2w .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-2w .link:hover,
#ext_menu-2w .dropdown-item:hover,
#ext_menu-2w .link:focus,
#ext_menu-2w .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-2w .link[aria-expanded="true"],
#ext_menu-2w .dropdown-menu {
  background: #307193;
}
#ext_menu-2w .nav-dropdown-sm .link:focus,
#ext_menu-2w .nav-dropdown-sm .link:hover,
#ext_menu-2w .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2w .nav-dropdown-sm .dropdown-item:hover {
  background: #3985ad!important;
}
#ext_menu-2w .navbar,
#ext_menu-2w .nav-dropdown-sm,
#ext_menu-2w .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2w .nav-dropdown-sm .dropdown-menu {
  background: #3d8eb9;
}
#ext_menu-2w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2w .bg-color.transparent.opened .link:hover,
#ext_menu-2w .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-2w .link[aria-expanded="true"],
#ext_menu-2w .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#form1-3f .form-control-label {
  color: #ffffff;
}
#form1-3f .mbr-section-title {
  color: #ffffff;
}
#form2-6c .mbr-section-title {
  color: #fff;
}
#form2-6c .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts1-3c P {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #ffffff;
}
#footer1-3d P {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  text-align: right;
}





#ext_menu-3 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3 .navbar-caption {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3 .close-icon::before,
#ext_menu-3 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3 .link,
#ext_menu-3 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-3 .link {
  font-size: 1rem;
}
#ext_menu-3 .dropdown-item,
#ext_menu-3 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-3 .link:hover,
#ext_menu-3 .dropdown-item:hover,
#ext_menu-3 .link:focus,
#ext_menu-3 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-3 .link[aria-expanded="true"],
#ext_menu-3 .dropdown-menu {
  background: #307193;
}
#ext_menu-3 .nav-dropdown-sm .link:focus,
#ext_menu-3 .nav-dropdown-sm .link:hover,
#ext_menu-3 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3 .nav-dropdown-sm .dropdown-item:hover {
  background: #3985ad!important;
}
#ext_menu-3 .navbar,
#ext_menu-3 .nav-dropdown-sm,
#ext_menu-3 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3 .nav-dropdown-sm .dropdown-menu {
  background: #3d8eb9;
}
#ext_menu-3 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3 .bg-color.transparent.opened .link:hover,
#ext_menu-3 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-3 .link[aria-expanded="true"],
#ext_menu-3 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-42 .mbr-section-title,
#header3-42 .mbr-section-subtitle {
  text-align: center;
}
#content1-43 DIV {
  font-family: 'Roboto', sans-serif;
}
#form2-3z .mbr-section-title {
  color: #fff;
}
#form2-3z .mbr-section-subtitle {
  color: #ffffff;
}
#contacts1-40 P {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #ffffff;
}
#footer1-41 P {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  text-align: right;
}





#ext_menu-5m .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-5m .navbar-caption {
  color: #ffffff;
}
#ext_menu-5m .navbar-toggler {
  color: #ffffff;
}
#ext_menu-5m .close-icon::before,
#ext_menu-5m .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-5m .link,
#ext_menu-5m .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-5m .link {
  font-size: 1rem;
}
#ext_menu-5m .dropdown-item,
#ext_menu-5m .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-5m .link:hover,
#ext_menu-5m .dropdown-item:hover,
#ext_menu-5m .link:focus,
#ext_menu-5m .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-5m .link[aria-expanded="true"],
#ext_menu-5m .dropdown-menu {
  background: #307193;
}
#ext_menu-5m .nav-dropdown-sm .link:focus,
#ext_menu-5m .nav-dropdown-sm .link:hover,
#ext_menu-5m .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-5m .nav-dropdown-sm .dropdown-item:hover {
  background: #3985ad!important;
}
#ext_menu-5m .navbar,
#ext_menu-5m .nav-dropdown-sm,
#ext_menu-5m .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-5m .nav-dropdown-sm .dropdown-menu {
  background: #3d8eb9;
}
#ext_menu-5m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-5m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-5m .bg-color.transparent.opened .link:hover,
#ext_menu-5m .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-5m .link[aria-expanded="true"],
#ext_menu-5m .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#features3-6h P {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#features3-6k P {
  font-family: 'Roboto', sans-serif;
}
#contacts1-4j P {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #ffffff;
}
#footer1-4k P {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  text-align: right;
}






#ext_menu-53 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-53 .navbar-caption {
  color: #ffffff;
}
#ext_menu-53 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-53 .close-icon::before,
#ext_menu-53 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-53 .link,
#ext_menu-53 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-53 .link {
  font-size: 1rem;
}
#ext_menu-53 .dropdown-item,
#ext_menu-53 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-53 .link:hover,
#ext_menu-53 .dropdown-item:hover,
#ext_menu-53 .link:focus,
#ext_menu-53 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-53 .link[aria-expanded="true"],
#ext_menu-53 .dropdown-menu {
  background: #307193;
}
#ext_menu-53 .nav-dropdown-sm .link:focus,
#ext_menu-53 .nav-dropdown-sm .link:hover,
#ext_menu-53 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-53 .nav-dropdown-sm .dropdown-item:hover {
  background: #3985ad!important;
}
#ext_menu-53 .navbar,
#ext_menu-53 .nav-dropdown-sm,
#ext_menu-53 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-53 .nav-dropdown-sm .dropdown-menu {
  background: #3d8eb9;
}
#ext_menu-53 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-53 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-53 .bg-color.transparent.opened .link:hover,
#ext_menu-53 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-53 .link[aria-expanded="true"],
#ext_menu-53 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#content1-55 DIV {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#content1-55 P {
  font-family: 'Oxygen', sans-serif;
}
#header3-5k .mbr-section-title,
#header3-5k .mbr-section-subtitle {
  text-align: center;
}
#content1-5l DIV {
  font-family: 'Roboto', sans-serif;
  color: #232323;
}
#form2-5h .mbr-section-title {
  color: #fff;
}
#form2-5h .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts1-5i P {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #ffffff;
}
#footer1-5j P {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  text-align: right;
}







#ext_menu-5m .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-5m .navbar-caption {
  color: #ffffff;
}
#ext_menu-5m .navbar-toggler {
  color: #ffffff;
}
#ext_menu-5m .close-icon::before,
#ext_menu-5m .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-5m .link,
#ext_menu-5m .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-5m .link {
  font-size: 1rem;
}
#ext_menu-5m .dropdown-item,
#ext_menu-5m .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-5m .link:hover,
#ext_menu-5m .dropdown-item:hover,
#ext_menu-5m .link:focus,
#ext_menu-5m .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-5m .link[aria-expanded="true"],
#ext_menu-5m .dropdown-menu {
  background: #307193;
}
#ext_menu-5m .nav-dropdown-sm .link:focus,
#ext_menu-5m .nav-dropdown-sm .link:hover,
#ext_menu-5m .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-5m .nav-dropdown-sm .dropdown-item:hover {
  background: #3985ad!important;
}
#ext_menu-5m .navbar,
#ext_menu-5m .nav-dropdown-sm,
#ext_menu-5m .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-5m .nav-dropdown-sm .dropdown-menu {
  background: #3d8eb9;
}
#ext_menu-5m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-5m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-5m .bg-color.transparent.opened .link:hover,
#ext_menu-5m .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-5m .link[aria-expanded="true"],
#ext_menu-5m .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#content1-5o DIV {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#content1-5o P {
  font-family: 'Oxygen', sans-serif;
}
#header3-66 .mbr-section-title,
#header3-66 .mbr-section-subtitle {
  text-align: center;
}
#header3-66 SMALL {
  color: #000000;
}
#header3-66 H3 {
  font-size: 48px;
}
#content1-64 DIV {
  font-family: 'Roboto', sans-serif;
}
#header3-67 .mbr-section-title,
#header3-67 .mbr-section-subtitle {
  text-align: center;
}
#header3-67 SMALL {
  color: #232323;
}
#content6-68 P {
  font-family: 'Roboto', sans-serif;
}
#form2-60 .mbr-section-title {
  color: #fff;
}
#form2-60 .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts1-61 P {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #ffffff;
}
#footer1-62 P {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  text-align: right;
}



#ext_menu-73 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-73 .navbar-caption {
  color: #ffffff;
}
#ext_menu-73 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-73 .close-icon::before,
#ext_menu-73 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-73 .link,
#ext_menu-73 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-73 .link {
  font-size: 1rem;
}
#ext_menu-73 .dropdown-item,
#ext_menu-73 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-73 .link:hover,
#ext_menu-73 .dropdown-item:hover,
#ext_menu-73 .link:focus,
#ext_menu-73 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-73 .link[aria-expanded="true"],
#ext_menu-73 .dropdown-menu {
  background: #307193;
}
#ext_menu-73 .nav-dropdown-sm .link:focus,
#ext_menu-73 .nav-dropdown-sm .link:hover,
#ext_menu-73 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-73 .nav-dropdown-sm .dropdown-item:hover {
  background: #3985ad!important;
}
#ext_menu-73 .navbar,
#ext_menu-73 .nav-dropdown-sm,
#ext_menu-73 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-73 .nav-dropdown-sm .dropdown-menu {
  background: #3d8eb9;
}
#ext_menu-73 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-73 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-73 .bg-color.transparent.opened .link:hover,
#ext_menu-73 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-73 .link[aria-expanded="true"],
#ext_menu-73 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#form1-79 .form-control-label {
  color: #232323;
}
#contacts1-77 P {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #ffffff;
}
#footer1-78 P {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  text-align: right;
}
